In [14]:
import pandas as pd

In [15]:
df = pd.read_csv(r'C:\Users\Youcode\Desktop\brief_github\brief_1\data\data_3\github_dataset_clean_updated_1.csv')
df.drop('Unnamed: 0', axis=1, inplace=True)
df.drop('languages', axis=1, inplace=True)
df_contributors = pd.read_csv(r'C:\Users\Youcode\Desktop\brief_github\brief_1\data\data_3\github_dataset_contributors.csv')
df

,url,full_name,description,stars,forks,issues,watchers,language,last_push,date_created,topics,description_translated
0,https://github.com/jmoiron/sqlx,jmoiron/sqlx,general purpose extensions to golang's databas...,13878,1027,326,196,Go,2023-06-06,2013-01-28,[no topics],general purpose extensions to golangs databasesql
1,https://github.com/vlucas/phpdotenv,vlucas/phpdotenv,Loads environment variables from `.env` to `ge...,12586,623,4,172,PHP,2023-06-27,2013-01-23,"['configuration', 'dotenv', 'environment', 'en...",loads environment variables from env to getenv...
2,https://github.com/davatorium/rofi,davatorium/rofi,"Rofi: A window switcher, application launcher ...",11292,601,55,92,C,2023-07-05,2013-01-20,"['application-launcher', 'c', 'dmenu', 'dmenu-...",rofi a window switcher application launcher an...
3,https://github.com/doctrine/inflector,doctrine/inflector,Doctrine Inflector is a small library that can...,11076,123,15,23,PHP,2023-06-27,2013-01-10,[no topics],doctrine inflector is a small library that can...
4,https://github.com/jedisct1/libsodium,jedisct1/libsodium,"A modern, portable, easy to use crypto library.",11042,1694,2,393,C,2023-06-19,2013-01-20,"['c', 'crypto', 'cryptography']",a modern portable easy to use crypto library
...,...,...,...,...,...,...,...,...,...,...,...,...
9799,https://github.com/gorilla-llm/gorilla-cli,gorilla-llm/gorilla-cli,LLMs for your CLI,393,7,6,5,Python,2023-07-01,2023-06-20,"['aws', 'azure', 'bash', 'cli', 'gcp', 'k8s', ...",llms for your cli
9800,https://github.com/MatthewJamesBoyle/golang-in...,MatthewJamesBoyle/golang-interview-prep,Go,391,62,0,5,Go,2023-06-14,2023-06-11,[no topics],go
9801,https://github.com/terhechte/Ebou,terhechte/Ebou,A cross platform Mastodon Client written in Rust,388,30,3,4,Rust,2023-07-04,2023-06-16,"['app', 'desktop-app', 'dioxus', 'linux', 'mac...",a cross platform mastodon client written in rust
9802,https://github.com/nv-tlabs/NKSR,nv-tlabs/NKSR,[CVPR 2023 Highlight] Neural Kernel Surface Re...,386,13,6,18,Python,2023-06-24,2023-06-08,"['3d-reconstruction', 'computer-vision', 'grap...",cvpr 2023 highlight neural kernel surface reco...
9803,https://github.com/autodistill/autodistill,autodistill/autodistill,Images to inference with no labeling (use foun...,386,29,7,7,Python,2023-07-03,2023-06-06,"['auto-labeling', 'computer-vision', 'deep-lea...",images to inference with no labeling use found...

In [16]:
df_contributors.drop('Unnamed: 0', axis=1, inplace=True)
df_contributors

                      full_name    contributor  contributions
0                  jmoiron/sqlx        jmoiron            315
1                  jmoiron/sqlx     nussjustin             12
2                  jmoiron/sqlx      cmillward              5
3                  jmoiron/sqlx    QuangTung97              5
4                  jmoiron/sqlx       wyattjoh              4
...                         ...            ...            ...
444076  autodistill/autodistill      capjamesg             47
444077  autodistill/autodistill       yeldarby             13
444078  autodistill/autodistill         hariag              2
444079  autodistill/autodistill  artyaltanzaya              1
444080  autodistill/autodistill       SkalskiP              1

[444081 rows x 3 columns]

In [17]:
df.info()
df_contributors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9804 entries, 0 to 9803
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   url                     9804 non-null   object
 1   full_name               9804 non-null   object
 2   description             9804 non-null   object
 3   stars                   9804 non-null   int64
 4   forks                   9804 non-null   int64
 5   issues                  9804 non-null   int64
 6   watchers                9804 non-null   int64
 7   language                9804 non-null   object
 8   last_push               9804 non-null   object
 9   date_created            9804 non-null   object
 10  topics                  9804 non-null   object
 11  description_translated  9804 non-null   object
dtypes: int64(4), object(8)
memory usage: 919.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 444081 entries, 0 to 444080
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   full_name      444081 non-null  object
 1   contributor    444081 non-null  object
 2   contributions  444081 non-null  int64
dtypes: int64(1), object(2)
memory usage: 10.2+ MB

**Création d'une nouvelle dataframe pour stocker la liste unique des langages avec leurs index**

In [18]:
unique_languages = df['language'].unique()  # Obtenez la liste unique des langages
df_languages = pd.DataFrame({'language': unique_languages})  # Créez une nouvelle dataframe avec la colonne 'language'
df_languages['id_language'] = df_languages.index + 1  # Ajoutez une colonne 'id_language' avec les index

In [19]:
df_languages

       language  id_language
0            Go            1
1           PHP            2
2             C            3
3    JavaScript            4
4           C++            5
..          ...          ...
113        SWIG          114
114        Text          115
115    VBScript          116
116        Move          117
117         Nix          118

[118 rows x 2 columns]

In [20]:
df['language'] = df['language'].explode().reset_index(drop=True).map(df_languages.set_index('language')['id_language'])

In [21]:
df

,url,full_name,description,stars,forks,issues,watchers,language,last_push,date_created,topics,description_translated
0,https://github.com/jmoiron/sqlx,jmoiron/sqlx,general purpose extensions to golang's databas...,13878,1027,326,196,1,2023-06-06,2013-01-28,[no topics],general purpose extensions to golangs databasesql
1,https://github.com/vlucas/phpdotenv,vlucas/phpdotenv,Loads environment variables from `.env` to `ge...,12586,623,4,172,2,2023-06-27,2013-01-23,"['configuration', 'dotenv', 'environment', 'en...",loads environment variables from env to getenv...
2,https://github.com/davatorium/rofi,davatorium/rofi,"Rofi: A window switcher, application launcher ...",11292,601,55,92,3,2023-07-05,2013-01-20,"['application-launcher', 'c', 'dmenu', 'dmenu-...",rofi a window switcher application launcher an...
3,https://github.com/doctrine/inflector,doctrine/inflector,Doctrine Inflector is a small library that can...,11076,123,15,23,2,2023-06-27,2013-01-10,[no topics],doctrine inflector is a small library that can...
4,https://github.com/jedisct1/libsodium,jedisct1/libsodium,"A modern, portable, easy to use crypto library.",11042,1694,2,393,3,2023-06-19,2013-01-20,"['c', 'crypto', 'cryptography']",a modern portable easy to use crypto library
...,...,...,...,...,...,...,...,...,...,...,...,...
9799,https://github.com/gorilla-llm/gorilla-cli,gorilla-llm/gorilla-cli,LLMs for your CLI,393,7,6,5,10,2023-07-01,2023-06-20,"['aws', 'azure', 'bash', 'cli', 'gcp', 'k8s', ...",llms for your cli
9800,https://github.com/MatthewJamesBoyle/golang-in...,MatthewJamesBoyle/golang-interview-prep,Go,391,62,0,5,1,2023-06-14,2023-06-11,[no topics],go
9801,https://github.com/terhechte/Ebou,terhechte/Ebou,A cross platform Mastodon Client written in Rust,388,30,3,4,33,2023-07-04,2023-06-16,"['app', 'desktop-app', 'dioxus', 'linux', 'mac...",a cross platform mastodon client written in rust
9802,https://github.com/nv-tlabs/NKSR,nv-tlabs/NKSR,[CVPR 2023 Highlight] Neural Kernel Surface Re...,386,13,6,18,10,2023-06-24,2023-06-08,"['3d-reconstruction', 'computer-vision', 'grap...",cvpr 2023 highlight neural kernel surface reco...
9803,https://github.com/autodistill/autodistill,autodistill/autodistill,Images to inference with no labeling (use foun...,386,29,7,7,10,2023-07-03,2023-06-06,"['auto-labeling', 'computer-vision', 'deep-lea...",images to inference with no labeling use found...

**Création d'une nouvelle dataframe pour stocker la liste unique des repos names avec leurs index**

In [22]:
unique_full_names = df['full_name'].unique()
df_repo = pd.DataFrame({'full_name': unique_full_names})
df_repo['id_repo'] = df_repo.index + 1
df_repo

                                    full_name  id_repo
0                                jmoiron/sqlx        1
1                            vlucas/phpdotenv        2
2                             davatorium/rofi        3
3                          doctrine/inflector        4
4                          jedisct1/libsodium        5
...                                       ...      ...
9799                  gorilla-llm/gorilla-cli     9800
9800  MatthewJamesBoyle/golang-interview-prep     9801
9801                           terhechte/Ebou     9802
9802                            nv-tlabs/NKSR     9803
9803                  autodistill/autodistill     9804

[9804 rows x 2 columns]

In [23]:
df['id_repo'] = df['full_name'].map(df_repo.set_index('full_name')['id_repo'])
df

,url,full_name,description,stars,forks,issues,watchers,language,last_push,date_created,topics,description_translated,id_repo
0,https://github.com/jmoiron/sqlx,jmoiron/sqlx,general purpose extensions to golang's databas...,13878,1027,326,196,1,2023-06-06,2013-01-28,[no topics],general purpose extensions to golangs databasesql,1
1,https://github.com/vlucas/phpdotenv,vlucas/phpdotenv,Loads environment variables from `.env` to `ge...,12586,623,4,172,2,2023-06-27,2013-01-23,"['configuration', 'dotenv', 'environment', 'en...",loads environment variables from env to getenv...,2
2,https://github.com/davatorium/rofi,davatorium/rofi,"Rofi: A window switcher, application launcher ...",11292,601,55,92,3,2023-07-05,2013-01-20,"['application-launcher', 'c', 'dmenu', 'dmenu-...",rofi a window switcher application launcher an...,3
3,https://github.com/doctrine/inflector,doctrine/inflector,Doctrine Inflector is a small library that can...,11076,123,15,23,2,2023-06-27,2013-01-10,[no topics],doctrine inflector is a small library that can...,4
4,https://github.com/jedisct1/libsodium,jedisct1/libsodium,"A modern, portable, easy to use crypto library.",11042,1694,2,393,3,2023-06-19,2013-01-20,"['c', 'crypto', 'cryptography']",a modern portable easy to use crypto library,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9799,https://github.com/gorilla-llm/gorilla-cli,gorilla-llm/gorilla-cli,LLMs for your CLI,393,7,6,5,10,2023-07-01,2023-06-20,"['aws', 'azure', 'bash', 'cli', 'gcp', 'k8s', ...",llms for your cli,9800
9800,https://github.com/MatthewJamesBoyle/golang-in...,MatthewJamesBoyle/golang-interview-prep,Go,391,62,0,5,1,2023-06-14,2023-06-11,[no topics],go,9801
9801,https://github.com/terhechte/Ebou,terhechte/Ebou,A cross platform Mastodon Client written in Rust,388,30,3,4,33,2023-07-04,2023-06-16,"['app', 'desktop-app', 'dioxus', 'linux', 'mac...",a cross platform mastodon client written in rust,9802
9802,https://github.com/nv-tlabs/NKSR,nv-tlabs/NKSR,[CVPR 2023 Highlight] Neural Kernel Surface Re...,386,13,6,18,10,2023-06-24,2023-06-08,"['3d-reconstruction', 'computer-vision', 'grap...",cvpr 2023 highlight neural kernel surface reco...,9803
9803,https://github.com/autodistill/autodistill,autodistill/autodistill,Images to inference with no labeling (use foun...,386,29,7,7,10,2023-07-03,2023-06-06,"['auto-labeling', 'computer-vision', 'deep-lea...",images to inference with no labeling use found...,9804

**Création d'une nouvelle dataframe pour stocker la liste unique des contributeurs avec leurs index**

In [24]:
unique_contributors = df_contributors['contributor'].unique()  # Obtenez la liste unique des langages
df_contributor = pd.DataFrame({'contributor': unique_contributors})  # Créez une nouvelle dataframe avec la colonne 'language'
df_contributor['id_contributor'] = df_contributor.index+1  # Ajoutez une colonne 'id_language' avec les index

In [25]:
df_contributor

        contributor  id_contributor
0           jmoiron               1
1        nussjustin               2
2         cmillward               3
3       QuangTung97               4
4          wyattjoh               5
...             ...             ...
290510  Benjamint22          290511
290511     ggichure          290512
290512      cantudo          290513
290513  heiwang1997          290514
290514       hariag          290515

[290515 rows x 2 columns]

In [26]:
df_contributors['id_contributor'] = df_contributors['contributor'].map(df_contributor.set_index('contributor')['id_contributor'])

In [27]:
df_contributors

                      full_name    contributor  contributions  id_contributor
0                  jmoiron/sqlx        jmoiron            315               1
1                  jmoiron/sqlx     nussjustin             12               2
2                  jmoiron/sqlx      cmillward              5               3
3                  jmoiron/sqlx    QuangTung97              5               4
4                  jmoiron/sqlx       wyattjoh              4               5
...                         ...            ...            ...             ...
444076  autodistill/autodistill      capjamesg             47          284600
444077  autodistill/autodistill       yeldarby             13          167730
444078  autodistill/autodistill         hariag              2          290515
444079  autodistill/autodistill  artyaltanzaya              1          290289
444080  autodistill/autodistill       SkalskiP              1          199754

[444081 rows x 4 columns]

In [28]:
df_contributors = df_contributors.merge(df[['full_name', 'id_repo']], on='full_name', how='left')
df_contributors.drop('full_name', axis=1, inplace=True)
df_contributors.rename(columns={'id_repo': 'id_repo'}, inplace=True)

In [29]:
df_contributors

          contributor  contributions  id_contributor  id_repo
0             jmoiron            315               1        1
1          nussjustin             12               2        1
2           cmillward              5               3        1
3         QuangTung97              5               4        1
4            wyattjoh              4               5        1
...               ...            ...             ...      ...
444076      capjamesg             47          284600     9804
444077       yeldarby             13          167730     9804
444078         hariag              2          290515     9804
444079  artyaltanzaya              1          290289     9804
444080       SkalskiP              1          199754     9804

[444081 rows x 4 columns]

**Création d'une nouvelle dataframe pour stocker la liste unique des topics avec leurs index**

In [30]:
df['topics'].replace('[no topics]', "['no topics']", inplace = True)
df

,url,full_name,description,stars,forks,issues,watchers,language,last_push,date_created,topics,description_translated,id_repo
0,https://github.com/jmoiron/sqlx,jmoiron/sqlx,general purpose extensions to golang's databas...,13878,1027,326,196,1,2023-06-06,2013-01-28,['no topics'],general purpose extensions to golangs databasesql,1
1,https://github.com/vlucas/phpdotenv,vlucas/phpdotenv,Loads environment variables from `.env` to `ge...,12586,623,4,172,2,2023-06-27,2013-01-23,"['configuration', 'dotenv', 'environment', 'en...",loads environment variables from env to getenv...,2
2,https://github.com/davatorium/rofi,davatorium/rofi,"Rofi: A window switcher, application launcher ...",11292,601,55,92,3,2023-07-05,2013-01-20,"['application-launcher', 'c', 'dmenu', 'dmenu-...",rofi a window switcher application launcher an...,3
3,https://github.com/doctrine/inflector,doctrine/inflector,Doctrine Inflector is a small library that can...,11076,123,15,23,2,2023-06-27,2013-01-10,['no topics'],doctrine inflector is a small library that can...,4
4,https://github.com/jedisct1/libsodium,jedisct1/libsodium,"A modern, portable, easy to use crypto library.",11042,1694,2,393,3,2023-06-19,2013-01-20,"['c', 'crypto', 'cryptography']",a modern portable easy to use crypto library,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9799,https://github.com/gorilla-llm/gorilla-cli,gorilla-llm/gorilla-cli,LLMs for your CLI,393,7,6,5,10,2023-07-01,2023-06-20,"['aws', 'azure', 'bash', 'cli', 'gcp', 'k8s', ...",llms for your cli,9800
9800,https://github.com/MatthewJamesBoyle/golang-in...,MatthewJamesBoyle/golang-interview-prep,Go,391,62,0,5,1,2023-06-14,2023-06-11,['no topics'],go,9801
9801,https://github.com/terhechte/Ebou,terhechte/Ebou,A cross platform Mastodon Client written in Rust,388,30,3,4,33,2023-07-04,2023-06-16,"['app', 'desktop-app', 'dioxus', 'linux', 'mac...",a cross platform mastodon client written in rust,9802
9802,https://github.com/nv-tlabs/NKSR,nv-tlabs/NKSR,[CVPR 2023 Highlight] Neural Kernel Surface Re...,386,13,6,18,10,2023-06-24,2023-06-08,"['3d-reconstruction', 'computer-vision', 'grap...",cvpr 2023 highlight neural kernel surface reco...,9803
9803,https://github.com/autodistill/autodistill,autodistill/autodistill,Images to inference with no labeling (use foun...,386,29,7,7,10,2023-07-03,2023-06-06,"['auto-labeling', 'computer-vision', 'deep-lea...",images to inference with no labeling use found...,9804

In [31]:
df['topics'] = df['topics'].apply(eval)
expanded_data = []
for index, row in df.iterrows():
    id_repo = row['id_repo']
    topics = row['topics']
    
    for topic in topics:
        expanded_data.append({'id_repo': id_repo, 'topic': topic})
    if len(topics) == 0:
        expanded_data.append({'id_repo': id_repo, 'topic': None})

df_topics_per_repos = pd.DataFrame(expanded_data)

In [32]:
df_topics_per_repos

       id_repo                  topic
0            1              no topics
1            2          configuration
2            2                 dotenv
3            2            environment
4            2  environment-variables
...        ...                    ...
60339     9804       object-detection
60340     9804                pytorch
60341     9804       segment-anything
60342     9804                 yolov5
60343     9804                 yolov8

[60344 rows x 2 columns]

In [33]:
unique_topics = df_topics_per_repos['topic'].drop_duplicates().reset_index(drop=True)
df_topics = pd.DataFrame({'topic': unique_topics})
df_topics['id_topic'] = df_topics.index + 1
df_topics

                       topic  id_topic
0                  no topics         1
1              configuration         2
2                     dotenv         3
3                environment         4
4      environment-variables         5
...                      ...       ...
18192        mastodon-client     18193
18193          neural-kernel     18194
18194          auto-labeling     18195
18195         grounding-dino     18196
18196     model-distillation     18197

[18197 rows x 2 columns]

In [34]:
df_topics_repo = df_topics_per_repos.merge(df_topics, on='topic', how='left')
df_topics_repo

       id_repo                  topic  id_topic
0            1              no topics         1
1            2          configuration         2
2            2                 dotenv         3
3            2            environment         4
4            2  environment-variables         5
...        ...                    ...       ...
60339     9804       object-detection      5793
60340     9804                pytorch      3383
60341     9804       segment-anything     17979
60342     9804                 yolov5     12498
60343     9804                 yolov8     12500

[60344 rows x 3 columns]

**Connection à SQL server**

In [332]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\youcode\appdata\local\programs\python\python310\lib\site-packages (4.0.39)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2
[notice] To update, run: C:\Users\Youcode\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip

In [348]:
import pyodbc

driver = 'SQL Server'
server = 'LAPTOP-EEA5QPRQ\SQLEXPRESS'
database = 'GitHubDB'

conn = pyodbc.connect(f'''
                        DRIVER={driver};
                        SERVER={server};
                        DATABASE={database};
                        Trusted_Connection=yes
                       ''')

cursor = conn.cursor()

**Création des tables**

In [340]:
# Créez la table Languages
cursor.execute('''
    CREATE TABLE Languages (
        id_language INT PRIMARY KEY,
        language VARCHAR(255)
    )
''')

# Créez la table Repositories
cursor.execute('''
    CREATE TABLE Repositories (
        id_repo INT PRIMARY KEY,
        url VARCHAR(255),
        full_name VARCHAR(255),
        description TEXT,
        forks INT,
        watchers INT,
        issues INT,
        stars INT,
        date_created DATE,
        last_push DATE,
        description_translated TEXT,
        id_language INT,
        FOREIGN KEY (id_language) REFERENCES Languages(id_language)
    )
''')


# Créez la table Contributors
cursor.execute('''
    CREATE TABLE Contributors (
        id_contributor INT PRIMARY KEY,
        contributor VARCHAR(255)
    )
''')

# Créez la table Topics
cursor.execute('''
    CREATE TABLE Topics (
        id_topic INT PRIMARY KEY,
        topic VARCHAR(255)
    )
''')

# Créez la table Contributions
cursor.execute('''
    CREATE TABLE Contributions (
        id_repo INT,
        id_contributor INT,
        contributions INT,
        FOREIGN KEY (id_repo) REFERENCES Repositories(id_repo),
        FOREIGN KEY (id_contributor) REFERENCES Contributors(id_contributor),
        PRIMARY KEY (id_repo, id_contributor)
    )
''')

# Créez la table Topics_repo
cursor.execute('''
    CREATE TABLE Topics_repo (
        id_topic INT,
        id_repo INT,
        FOREIGN KEY (id_topic) REFERENCES Topics(id_topic),
        FOREIGN KEY (id_repo) REFERENCES Repositories(id_repo),
        PRIMARY KEY (id_topic, id_repo)
    )
''')

**Insertion de données à la table de languages**

In [342]:
# Parcourir chaque ligne de la dataframe "df_languages"
for index, row in df_languages.iterrows():
    id_language = row['id_language']
    language = row['language']
    
    # Exécuter une requête INSERT pour insérer les valeurs dans la table "Languages"
    cursor.execute(f"INSERT INTO Languages (id_language, language) VALUES ({id_language}, '{language}')")

**Insertion de données à la table de répertoires**

In [347]:
# Parcourir chaque ligne de la dataframe "df"
for index, row in df.iterrows():
    id_repo = row['id_repo']
    url = row['url']
    full_name = row['full_name']
    description = row['description']
    forks = row['forks']
    watchers = row['watchers']
    issues = row['issues']
    stars = row['stars']
    date_created = row['date_created']
    last_push = row['last_push']
    description_translated = row['description_translated']
    id_language = row['language']

    # Exécuter une requête INSERT avec des paramètres de requête
    cursor.execute("""
        INSERT INTO Repositories (id_repo, url, full_name, description, forks, watchers, issues, stars, date_created, last_push, description_translated, id_language)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    """, id_repo, url, full_name, description, forks, watchers, issues, stars, date_created, last_push, description_translated, id_language)

**Insertion de données à la table de contributeurs**

In [349]:
# Parcourir chaque ligne de la dataframe "df_contributor"
for index, row in df_contributor.iterrows():
    id_contributor = row['id_contributor']
    contributor = row['contributor']
    
    # Exécuter une requête INSERT pour insérer les valeurs dans la table "Contributors"
    cursor.execute(f"INSERT INTO Contributors (id_contributor, contributor) VALUES ({id_contributor}, '{contributor}')")

**Insertion de données à la table ponte de contributions**

In [375]:
# Parcourir chaque ligne de la dataframe "df_contributors"
for index, row in df_contributors.iterrows():
    id_repo = row['id_repo']
    id_contributor = row['id_contributor']
    contributions = row['contributions']
    
    # Exécuter une requête INSERT pour insérer les valeurs dans la table "Contributions"
    cursor.execute(f"INSERT INTO Contributions (id_repo, id_contributor, contributions) VALUES ({id_repo}, {id_contributor}, {contributions})")

**Insertion de données à la table de topics**

In [351]:
# Parcourir chaque ligne de la dataframe "df_topics"
for index, row in df_topics.iterrows():
    id_topic = row['id_topic']
    topic = row['topic']
    
    # Exécuter une requête INSERT pour insérer les valeurs dans la table "Topics"
    cursor.execute(f"INSERT INTO Topics (id_topic, topic) VALUES ({id_topic}, '{topic}')")

**Insertion de données à la table ponte de Topics_repo**

In [353]:
# Parcourir chaque ligne de la dataframe "df_topics_repo"
for index, row in df_topics_repo.iterrows():
    id_topic = row['id_topic']
    id_repo = row['id_repo']
    
    # Exécuter une requête INSERT pour insérer les valeurs dans la table "Topics_repo"
    cursor.execute(f"INSERT INTO Topics_repo (id_topic, id_repo) VALUES ({id_topic}, {id_repo})")

In [376]:
# Validez les modifications et fermez la connexion
conn.commit()
conn.close()